[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
djongo = "*"
pymongo = "==3.12.3"
dnspython = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.9"
